body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    margin: 5px 0;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
.logo {
    width: 50px;  /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    object-fit: cover; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the logo */
    display: block; /* Centering with margin auto */
}
